.table-center{
  display: table;
  min-height: 45px;
}
.table-center-block{
  display: table-cell;
  vertical-align: middle;
}

.card-image{
  div.img-raised{
    height: 270px;
    width: 100%;
    background-size: cover;
    background-position: center;
  }
}
.home-list .content{
  height: 225px;
}

.pagination-block{
  width: 100%;
  text-align: center;
}